body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  padding-block: 40px;
  padding-inline: 30px;
  border: 2px solid red;

  &__wrapper {
    position: relative;
    overflow: hidden;
    border: 2px solid black;
  }

  &__slides {
    display: flex;
    transition: transform var(--transitionTime);
  }

  &__slide {
    min-height: 500px;
    min-width: 350px;
    padding: 10px;
    overflow: hidden;

    &.active {
      background-color: lightblue;
    }

    // &:nth-child(2) {
    //   min-width: 400px;
    // }

    // &:nth-child(3) {
    //   min-width: 450px;
    // }

    // &:nth-child(4) {
    //   min-width: 500px;
    // }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    bottom: 5px;
    left: 0;
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    transition: background-color 0.3s;

    &:hover {
      cursor: pointer;
      background-color: rgba(#000, 0.5);
    }

    &.active {
      background-color: #000;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    // z-index: -1;
  }

  &__arrow {
    font-size: 40px;
    font-weight: 800;
    transition: transform 0.2s;
    transform: scale(1) translateY(-20px);

    &:hover {
      cursor: pointer;
      transform: scale(1.1) translateY(-20px);
    }
  }
}